<% include partials/header%>

<h1>Show page</h1>

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="my-3 py-3">
      <img src="<%= games.image%>">
    </div>
  
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>


<!--<p><%= games.name%></p>-->
<!--<img src="<%= games.image%>">-->
<!--<p>Rated <%=games.rating%></p>-->
<!--<p><%=games.stars%> stars</p>-->

<!--loop through comments-->
<% games.comments.forEach(function(comment)
{ %>
    <p>
        <strong><%= comment.author %></strong>: <%=comment.text%>
    </p>
<% }) %>

<% include partials/footer%>