<% include partials/header%>

<h1>Show page</h1>

<p><%= games.name%></p>
<img src="<%= games.image%>">
<p>Rated <%=games.rating%></p>
<p><%=games.stars%> stars</p>

<!--loop through comments-->
<% games.comments.forEach(function(comment)
{ %>
    <p>
        <strong><%= comment.author %></strong>: <%=comment.text%>
    </p>
<% }) %>

<% include partials/footer%>